<html lang="en-US">
<head>
    <title>Creepy Guy Panel</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet"  href= "styles/creepy.css" type="text/css">
    <meta name="author" content="MKM Team" />
    <meta name="robots" content="index,follow"/>
    <meta name="keywords" content="Quest store,Codecool"/>
    <meta name="description" content="quest store Codecool System"/>
</head>
<body>

<div id="edit-menu">
    <p>Edit mentor: </p>
    <label>Edit name: </label><input>
    <label>Edit surname: </label><input>
    <label>Edit adress: </label><input>
    <label>Edit e-mail: </label><input>
    <button type="submit"><a href="#21">Confirm</a></button>
</div>

</body>