<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add New</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
    <script src="scripts/main.js"></script>
</head>
<body>

    <section class="add-new">
        <h2>Add new member</h2>

        <form class="add-new-form">
            <fieldset class="name-surname">
                <label>
                    name
                    <input type="text" name="name" placeholder="member name">
                </label>
                <label>
                    surname
                    <input type="text" name="surname" placeholder="member surname">
                </label>

            </fieldset>
            <fieldset class="add-email">
                <label>
                    email
                    <input type="email" name="email" placeholder="email">
                </label>

            </fieldset>
            <input class="add-member-button" type="submit" name="submit" value="add">
        </form>
    </section>
    
</body>
</html>