/*
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1  Reset      
2  Typography 
3  Grid
4  Clearfix
5  Primary Header
6  Navigation
7  Home
8  
9  Primary Footer
10 Links
11 Contact us
12 Buttons
13 About

==================================
1.0 Reset
==================================
 http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
========================================
4 Clearfix
========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
==================================
2 Login page
==================================
*/

.login-page {
  display: flex;
  flex-flow: column;
  
}

.login-page h2 {
  font: 600 40px/33px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  margin-top: 155px;
  padding-bottom: 33px;
}

.login {
  display: flex;
  flex-flow: column;
  border: 2px solid rgb(27, 16, 180);
  border-radius: 5px;
  margin: auto;
  width: 300px;
  height: 250px;
}

.login label {
  font: 400 16px/18px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 15px;
  margin: auto;
  margin-left: 12px;
}

.login input {
  display: block;
  border-radius: 5px;
  margin: auto;
  margin-top: 12px;
  width: 80%;
  padding: 5px 8px;
  
}

/*
==================================
4 Table
==================================
*/
.your-group {
  display: flex;
  justify-content: center;
}

table caption {
  font: 24px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #4a4a4a;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

th, td {
  padding: 10px 15px;
  vertical-align: middle;
}

thead {
  background: #cecbcb;
  background: linear-gradient(#ebe8e8, #cecbcb);
  font-size: 11px;
  text-transform: uppercase;
}

tbody tr:nth-child(even) {
  background: #f0f0f2;
}

tbody tr {
  border-bottom: 1px solid #cecfd5;
}
/*
==================================
4 Mentor profile
==================================
*/
.mentor-data .grid {
  display: flex;

}
.mentor-profile-picture img {
  border-radius: 50%;
  height: 120;
  margin-left: 30px;
}

.mentor-data h2 {
  margin: 30px 0 0 66px;
  font: 400 30px/32px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
==================================
4 Nav bar in Mentor
==================================
*/

ul#menu {
  height: 60px;
  border-bottom: double;
  background-color:lightgray;
}

div#creepymenu li {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 20px;
    list-style-type: none;
    font-size: 12px;  
    width: max-content;

  }


div#creepymenu {
  height: 10%;
}

a#active {
  text-decoration: none; 
  color: brown;
  font-size: 20px;
}

a.unactive {
  text-decoration: none; 
  color: black;
  font-size: 20px;
}

a.unactive:hover,:active  {
  color: blue;

}